
 <header>
        <div class="head" align="center"> INFOCONTACT</div>
    </header>
    <nav>
        <div class="logo"> 
           <img src="img/logo/WATCH STYLE.png" alt="">  
        </div> 
        <div class="link" align="left">
            <a href="">Accueil</a>
            <a href="">Marques</a>
            <a href="infocontact.php">Contact</a>
        </div> 
       
      

               
    </nav>
     {% block body %} {% endblock %}