{% extends 'base1.html.twig' %}

{% block title %}Montre homme{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{# 
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/symfony/hoogah/src/Controller/MontrehommeController.php'|file_link(0) }}">src/Controller/MontrehommeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/symfony/hoogah/templates/montrehomme/index.html.twig'|file_link(0) }}">templates/montrehomme/index.html.twig</a></code></li>
    </ul>
</div> #}
<section>
           
        <h1>Montres Hommes</h1>
        
         
            
            <div class="categorie">
             <p class="hautdegamme"> Haut de Gamme </p> </a>
             <p class="hautdegamme1"> Moyen de Gamme </p></a>
             <p class="hautdegamme2"> Bas de Gamme </p></a>
                <br>
                
            </div> 
            <br><br> 
            <div class="Mhommehautgamme">      
                <div class="design">
                    <img src="img/M.hommes/Rolex/rolex.jpg" class="rolex"alt="">
                    <!-- <p><span>ajoute au panier</span></p> -->
                    <img src="img/M.hommes/Autres/john-torcasio-TJrkkhdB39E-unsplash.jpg" class="John" alt="">
                    <br>
                    <img src="img/M.hommes/Casio/thujey-ngetup-ZAElg4uv8jA-unsplash.jpg" class="casio" alt="">
                        
                </div>     
            </div>   
            <br><br>
            <div class="Mhommehautgamme">      
                <div class="design1">
                    <img src="img/M.hommes/Autres/reza-shahmoradi-hKIVLbKgGPQ-unsplash.jpg" class="reza" alt="">
                    <!-- <p><span>ajoute au panier</span></p> -->
                    <img src="img/M.hommes/Autres/woodwatch-CFFrmpYPQbM-unsplash.jpg" class="wood" alt="">
                    <br>
                    <img src="img/M.hommes/Autres/montres.png"class="mon" alt="">
                    
                </div>         
                   
            </div>  
            <br><br>
            <div class="Mhommehautgamme">      
                <div class="design2">
                    <img src="img/M.hommes/Seiko/roger-varenhorst-pR2WH4gnWrw-unsplash.jpg" class="orger"  alt="">
                    <!-- <p><span>ajoute au panier</span></p> -->
                    <img src="img/M.hommes/Autres/slashio-photography-fy-JGSH-3N0-unsplash.jpg" class="slashio"  alt="">
                    <br>
                    <img src="img/M.hommes/Casio/manish-patel-nkICsTnNlr4-unsplash.jpg" class="manish" alt="">    
                </div>     
            </div>  
              
            
                
                
          
        </section>

{% endblock %}
